{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="6A37D771FC6934A23D8DF7BD302448E8" />
    <meta name="google-site-verification" content="Oj8ZUiTlBAU2Xk44tu3SQVusXBoDkUDKqcNa8wmT55M" />
    <meta name="description" content="Learn how to use Bitdefender Central to protect your devices remotely in 2025. Follow simple steps to connect, control, and scan all your devices from one secure dashboard.">
    <meta name="keywords" content="how to use Bitdefender Central, Bitdefender Central remote protection, Bitdefender Central dashboard setup, control devices with Bitdefender Central, Bitdefender Central 2025 guide, remote virus scan Bitdefender, add device to Bitdefender Central, Bitdefender Central step-by-step tutorial, Bitdefender Central login and setup">
    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
